<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <a class="navbar-brand" href="#">Solaria-CMS</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
          {{ Tag.link_to('Home', '', 'nav-link') }}
      </li>
      <li class="nav-item">
        {{ Tag.link_to('Forum', 'forum', 'nav-link') }}
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <span class="navbar-text">
    {% if user == false %}
        {{ Tag.start_link('acp/user/sing-up') }} Login with Steam <i class="fa fa-steam" aria-hidden="true"></i> {{ Tag.end_link() }}
    {% else %}
        {{ Tag.start_link('acp/user/sing-out') }} Logout <i class="fa fa-sign-out" aria-hidden="true"></i> {{ Tag.end_link() }}
    {% endif %}
   </span>
   <!--
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>-->
  </div>
</nav>
